body{

    color:black;
    background-color: aliceblue;
    position: relative;
    left:20px;
}
h1{
    height:50px;
    width:200px;
    border:solid black 1px;
    background-color: antiquewhite;
    color:black;
    position:relative;
    left:80px;
    text-align: center;
    
}